{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {{ product.name }}
{% endblock %}
{% block content %}
  <div class="product-detail">
    <img src="{% if product.image %}{{ product.image.url }}{% else %}
    {% static 'img/no_image.png' %}{% endif %}">
    <h1>{{ product.name }}</h1>
    <h2>
      <a href="{{ product.category.get_absolute_url }}">
        {{ product.category }}
      </a>
    </h2>
    <p class="price"><span>&#8358;</span>{{ product.price }}</p>
    <form action="{% url "cart:cart_add" product.id %}" method="post">
      {{ cart_product_form }}
      {% csrf_token %}
      <input type="submit" value="Add to cart">
    </form>
    {{ product.description|linebreaks }}
  </div>
  <div>
    <h2>Reviews</h2>
  {% if reviews %}
    {% for review in reviews %}
      {{ review.body }} - {{ review.user}}
    {% endfor %}
    <p><a href="{% url 'shop:add-review' product.id product.category %}">Add Review</a></p>
  {% else %}
    <p>No reviews yet!</p>
    <a href="{% url 'shop:add-review' product.id product.category %}">Add Review</a>
  {% endif %}
  <div>
    <h2>Similar Products</h2>
  {% for product in similar_products %}
      <img src="{{ product.image.url }}" width="400" height="300" alt="">
      <a href="{{ product.get_absolute_url }}">{{ product }}</a>
  {% endfor %}
</div>
</div>
{% endblock %}