<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Delivery Info form</h1>
    <p>Order</p>
    <input type="text" name="order" id="">
    <p>Delivery Address</p>
    <input type="text" name="address" id="">
    <p>L_G_A</p>
    <input type="text" name="L_G_A" id="">
    <p>Delivery Fee</p>
    
</body>
</html>