{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="d-flex row justify-content center align-items-center py-md-5 py-3" style="min-height: 90vh;">
    <div class="col-12">
        <h1>Hi {{ order.first_name }}, you are to pay {{ order.get_total_cost }}</h1>
        <form action="" method="post" id="paymentForm">
            {% csrf_token %}
            <p>Amount</p>
            <input type="number" name="amount" value="{{ order.get_total_cost }}" disabled="True" min="0" required id="id_amount">
            <p>Email</p>
            <input type="email" name="email" value="{{ order.email }}" disabled="True" id="">
            <input class="btn btn-primary" type="submit" name="" value="submit">
        </form>
    </div>
</div>
</div>
{% endblock content %}