{% extends "shop/base.html" %}

{% block title %}
  Thank you
{% endblock %}

{% block content %}
  <h1>Thank you {{ first_name }}</h1>
  <p>Your order has been successfully created. Your order number is
  <strong>{{ order.id }}</strong>.</p>
  

  <div>
    
    <a href="{% url 'orders:order-details' order.id %}">Procced to Payment</a>
    <br>
    <br>
    <a class="btn btn-primary" href="{% url 'initiate-payment-4' order.id %}">Pay Now</a>
    <br>
    <br>
    <br>
    <a class="btn btn-warning" href="{% url 'orders:pay-later' %}">Pay Later</a>
  </div>
{% endblock %}

<!-- <a class="btn btn-primary" href="{% url 'orders:order-summary-edit' order.pk %}">Proceed To Payment</a> -->