{% extends "users/user_base.html" %}
{% load static %}
{% block content %}
<h2>Your Order Details</h2>
<a style="float: right;" class="btn btn-warning" href="{% url 'orders:order-summary-edit' current_order.pk %}">Edit</a>
<a class="btn btn-primary" style="float: right; margin-right: 5px;" href="{% url 'initiate-payment-4' current_order.id %}">Proceed</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Personal Info</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">First name:</th>
      <td>{{ current_order.first_name}}</td>
    </tr>
    <tr>
      <th scope="row">Last name:</th>
      <td>{{ current_order.last_name}}</td>
      
    </tr>
    <tr>
      <th scope="row">Email address:</th>
      <td>{{ current_order.email }} </td>
      
    </tr>
    <tr>
      <th scope="row">Phone number:</th>
      <td>{{ current_order.phone_number }}</td>
      
    </tr>
  </tbody>
</table>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Cart Info</th>
    </tr>
  </thead>
  <tr>
    <th scope="row">Delivery Address:</th>
    <td>{{ current_order.address }}</td>
    
  </tr>
  <tbody>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    {% for item in current_orderitem %}
    <tr>
      <td>{{ item.product.name }}</td>
      <td>{{ item.quantity }}</td>
      <td><span>&#8358;</span>{{ item.get_cost }}</td>
    </tr>
    {% endfor %}
  </table>
  </tbody>
</table>
    <!-- <h2>Your Order Details</h2>
    <h3>Personal Info</h3>
    <h3>First Name: {{ current_order.first_name}}</h3>
    <h3>Last Name: {{ current_order.last_name}}</h3>
    <h3>Email Address: {{ current_order.email }} </h3>
    <h3>Phone Number: {{ current_order.phone_number }} </h3>

    <h2>Cart Info</h2>
    <table>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
        {% for item in current_orderitem %}
        <tr>
          <td>{{ item.product.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.get_cost }}</td>
        </tr>
        {% endfor %}
      </table> -->
    <!-- <a class="btn btn-warning" href="{% url 'orders:order-summary-edit' current_order.pk %}">Edit</a>
    <br>
    <a class="btn btn-primary" style="float: right;" href="{% url 'initiate-payment-4' current_order.id %}">Proceed</a> -->
    <!-- <a href="{% url 'initiate-payment-4' current_order.id %}">Proceed to Payment</a> -->
{% endblock content %}
</html>